* {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgba(155, 155, 155, 0.692);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 10px 10px;
    background-color: rgb(110, 110, 110);
}

nav h1 {
    padding: 10px;
}

li {
    float: left;
    border-right: 2px solid rgb(0, 0, 0);
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    text-align: center;
    padding: 15px 15px;
    font-size: 18px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: black;
}

h1 {
    font-size: 26px;
}

header h1 {
    font-size: 26px;
    margin-left: 20px;
}

main {
    border: 3px solid black;

}

.aspesberro {
    color: red;
    font-size: 26px;
}

.about-me {
    display: flex;
    padding: 20px 20px 20px 20px;
    margin-bottom: 100px;
    font-size: 20px;

}

main h1 {
    padding: 40px 20px 0px 20px;
}

.bio p {
    font-size: 24px;
    padding: 10px;
}

.about-me img {
    max-width: 400px;
    max-height: 600px;
    margin: 20px;
    border: 3px solid black;
}

.my-work {
    border: 3px solid red;
}

.my-work img {
    max-width: 1000px;
    height: auto;
}

img {
    display: flex;
    flex-direction: column;
}


footer {
    position: static;
    bottom: 0;
    width: 100%;
    padding: 15px 10px 10px 10px;
    background-color: rgb(110, 110, 110);
}

